*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1, 5;
    letter-spacing: 2%;
    background-color: #ffffff;
    display: block;
    margin: 0;

}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    display: list-item;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button, input, textarea {
    font-family: inherit;
    line-height: inherit;
}

input {
    padding: 0;
    margin: 0;
}

.section-tittle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.qualities-list-section {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


/* ------------------HEADER-------------- */
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.header-menu .logo-link .logo {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu-link:hover {
    color: #404bbf;
}

.menu .menu-link:focus {
    color: #404bbf;
}
.menu .menu-link {
    color: #2e2f42;
}

.menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-container {
    display: none;      
}

.menu-link {
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
}

.menu .menu-color {
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.contacts {
    display: none;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.open-header-menu-button {
    cursor:pointer;
    background-color:transparent;
    line-height: 0;
    border: none;
}

.contacts-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-wrap: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    display: block;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}



/* ------------MENU-HEADER------------------ */

.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-header .is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-header-container {
    margin-top: 72px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-header-link.menu-color {
    color: #404bbf;
}

.menu-header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-header-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    justify-content: flex-start;
    flex-direction: column
}

.menu-header-link:hover,
.menu-header-link:focus {
    color: #404bbf;
}

.contacts-menu {
    margin-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 168px;
    font-style: normal;
}

.contacts-link-menu {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-menu:hover {
    color: #404bbf;
}

.contacts-link-menu:focus {
    color: #404bbf;
}

.social-list-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding-top: 48px;
}

.social-item-menu {
    width: 40px;
    height: 40px;
}

/* ------------------ ----------------------- */


/* ------------SECTION-1 (Tittle)------------------ */

.first-section {
    padding: 72px 0;
}

.background {
    background-color:#2E2F42;
}

.images-people {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.page-tittle  {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
        
}

.solutions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: #404BBF;
}

/* --------------------Modal-overlay ----------------- */

.modal-overlay-contacts {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


/* .modal-overlay-contacts.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
} */

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus,
.close-icon:hover,
.close-icon:focus {
    background-color: #404bbf;
    fill: #FFFFFF;
    border: none;
}

.text-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.form-section {
    margin-bottom: 8px;
}

.form-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.form-input {
    position: relative;
}

.form-input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-name:focus,
.form-input-comment:focus{
    border-color: #4d5ae5;
}

.form-input-name:focus+ .form-icon {  
    fill: #4d5ae5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-section-comment {
    margin-bottom: 16px;
}

.form-input-comment{
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
}

.form-input-comment::placeholder {
    color: #8e8f99;
}

.form-checkbox {
    margin-bottom: 24px;
}

.form-label-checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;

}

.accept-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-accept-span {
    max-width: 231px;
    display: flex;
    flex-direction: column;
}

.form-checkbox-input:checked + .form-label-checkbox> .accept-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-link {
    color: #4d5ae5;
    text-decoration: underline;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    margin-left: 24px;
}


/* -------------------- ----------------- */

/* ----------SECTION-2 (Qualities)---------------- */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.qualities-section {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.qualities-icons {
    display: flex;
}
/* ----------------- -------------- */

/* ----------SECTION THREE (Team)---------- */

.color {
    background-color: #F4F4FD;
    display: block;
}

.team-section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    max-width: 264px;
}

.name-position {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.position {
    text-align: center;
}

.container-team-item {
    padding: 32px 0px;
}

.social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin: 0 auto;
        padding-top: 8px;
}

.social-item {
        width: 40px;
        height: 40px;
}

.social-icon {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.social-icon:hover, 
.social-icon:focus{
    background-color: #404bbf;
}


.icon-color {
    fill: #f4f4fd;
}
/* ---------------- -------------- */

/* ----------SECTION FOUR (Portfolio)---------- */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-animation {
    transform: translateY(0);
}

.portfolio-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-animation {
    position: relative;
    overflow: hidden;
}

.text-animation {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------- --------------------- */

/* -----------------FOOTER------------------- */

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-container{
    flex-direction: column;
    display: flex;
    gap: 72px;
}

.footer-link-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 0 0;
}

.footer .footer-link .logo {
    color: #f4f4fd;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}


.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-svg:hover {
    background-color: #31d0aa;
}

.footer-svg:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.form-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column
}

.label-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}


.input-subscribe {
    margin-top: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #fff;

}

.input-subscribe::placeholder {
    color: #ffffff;
}

.subscribe-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
} 

.icon-send {
margin-left: 16px;
}

/* -------------------- ----------------- */



/* --------------------Media ----------------- */

@media screen and (min-width: 768px) {
.tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
.tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
.text {
    font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
.logo-link {
    margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
.logo-link {
    margin-right: 76px;
    }
}

@media (min-width: 768px) {
.menu-container { 
    display: flex;
    flex-direction: row;
    gap: 40px;
}}


@media screen and (min-width: 768px) {
.contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
.contacts-list {
    flex-direction: row;
    gap: 40px;
    }
}

@media screen and (min-width: 768px) {
.open-header-menu-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

@media screen and (min-width: 1158px) {
.contacts-link {
    font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
.container-menu {
    padding: 0px 24px;
    }
}

@media screen and (min-width: 768px) {
.first-section {
    padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
.first-section {
    padding: 188px 0;
    }
}

@media (min-resolution: 192dpi) {
.images-people {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
.page-tittle {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
.page-tittle {
    font-size: 56px;
    color: #fff;
    margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) {
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}


@media screen and (min-width: 768px) {
.qualities-section {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
.qualities-section {
    flex-wrap: nowrap;
    }
}

@media screen and (min-width: 768px) {
.qualities-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.qualities-item {
    width: calc((100%-3*24px)/4);
    position: relative;
    }
}

@media (max-width: 1158px) {
.qualities-icons {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}

@media screen and (min-width: 1158px) {
.qualities-icons {
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    }
}


@media screen and (min-width: 768px) {
.team-section-three {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
.team-section-three {
    gap: 24px;
    }
}


@media screen and (min-width: 768px) {
.team-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.team-item {
    flex-basis: calc((100% - 3* 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
}

@media screen and (min-width: 768px) {
.portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
.portfolio {
    column-gap: 24px;
    row-gap: 48px;
    }
}


@media screen and (min-width: 768px) {
.portfolio-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 768px) {
.portfolio-animation {
    width: 356px;
    height: 300px;
    }
}

@media screen and (min-width: 1158px) {
.footer {
    padding: 100px 0px;
    }
}

@media screen and (min-width: 768px) {
.footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    width: 584px;
    }
}

@media screen and (min-width: 1158px) {
.footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1158px;
    gap: 0;
    }
}

@media screen and (min-width: 1158px) {
.footer-link-text {
    margin-right: 120px;
    }
}

@media screen and (min-width: 768px) {
.footer-link {
    display: flex;
    justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {
.text-social-media {
    justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {
.footer-subscribe {
    margin: 0;
    }
}

@media screen and (min-width: 1158px) {
.footer-subscribe {
    margin-left: 80px;
    }
}

@media screen and (min-width: 768px) {
.form-subscribe{
    flex-direction: row;
    gap: 24px;
    align-items: end;
}
}

@media screen and (min-width: 768px) {
.label-text {
    justify-content: flex-start;
    }
}

@media screen and (min-width: 1158px) {
.input-subscribe {
    margin-top: 0;
}
}

@media screen and (min-width: 768px) {
    .modal-container {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width: 768px) {
    .checkbox-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .menu-header {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
/* -------------------- ----------------- */